.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px; /* Space between cards */
}

.book {
  position: initial;
  border-radius: 10px;
  width: 300px;
  height: 400px;
  
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  margin-top: 40px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
  flex: 1 1 calc(25% - 20px); /* Adjust the size of each card relative to its container */
  box-sizing: border-box;
}

.cover {
  top: 0;
  position: absolute;
 
  width: 100%;
  height: auto;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.book:hover .cover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-82deg);
  -ms-transform: rotatey(-82deg);
  transform: rotatey(-82deg);
}

h2 {
  text-align: center;
  align-items: start;
  margin-bottom: 10px;
 color: rgb(7, 5, 112);
  font-weight: bolder;
}
span{
  font-weight: bolder;
  font-size: 17px;
}
.card-img{
  border-radius: 10px;
  width: 300px;
  height: 400px;
}
.overview{
  font-size: 13px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}
p{
  margin-bottom: 10px;
}
.cordonne{
  width: 100%;
  align-items: start;
  
  padding-left: 40px;
}
box-icon{
  color: goldenrod;
margin-bottom: -40px;

}
