#btn{
    transform: none;
    
}

#btn::before{
    transform: none;
    background-color: transparent;
    transition: none;
    position: relative;
    color: white;
    width: 0%;
}

#btn:hover::before{
    transform: none;
    background-color: transparent;
    transition: none;
    position: relative;
    color: white;
    width: 0%;
}
nav{
    border-bottom: 1px solid gray;
    background-color: transparent;
    backdrop-filter: blur(7px);
}