body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  position: absolute;
  z-index: 200;
  color: rgba(0, 0, 0, 0.37);
  padding-right: 100px;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(210, 105, 30, 0.281);
}

.all {
  height: 100vh;
}


.hero-text {
  position: relative;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.151);
  color: white;
}
.backdiv {
  position: absolute;
  background-size: cover;
  background-position: center center;

  width: 100%;
  height: 100%;
  
  
}
.hero-backDrop {
  position: absolute;
  top: 8.5%;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 23%;
  background-size: cover;
  background-position: center center;
}
.backend {
  position: absolute;
  top: 8.5%;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
}
.null-back {
  position: absolute;
  top: 8.5%;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
}
.sicon {
  width: 30px;
}
.cardie:hover {
  background-color: goldenrod;
}
.ch:hover {
  font-size: 130%;
}
.pub {
  background-color: transparent;
  z-index: 200;
  color: black;
}
.null {
  text-align: center;
  margin-top: 12%;
}
.views-back {
  background-color: black;
  height: 100%;
  width: 100%;
}

.n-backDrop {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-position: center center;
}
.search {
  background-color: black;
}
.home-here {
  height: 100%;
  width: 100%;
}
.cover {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
}
.hero-container {
  font-family: "comic sans ms";
  overflow-x: hidden;
}
.anim {
  color: black;
  animation-name: now;
  width: 30%;
  animation-duration: 4s;
}
@keyframes now {
  from {
    background-color: black;
  }
  to {
    background-color: red;
  }
}
